.center{
    background-color:#5f9ea0;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

#clock{
    border: 2px solid black;
    width: 100px;
    padding : 12px 6px;
    height: 45px;
    background-color: orange;
    border-radius: 10px;   
}

#banner{
    font-size: 22px;
}

#clock:hover{
    transform: scale(1.5);
}